name: Deploy Worker

on:
  workflow_dispatch:
  push:
    branches:
      - main

# Enable concurrency to prevent multiple deployments at the same time
concurrency:
  group: worker-deployment
  cancel-in-progress: false # Set to true if you want to kill the running job

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v5
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: deploy worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy
          wranglerVersion: '4.53.0'
